.primary-text {
    color: darkred;

    font-size: 32px;
    font-weight: 500;
    font-family: 'Arial', sans-serif;
    font-style: italic;
}

.secondaryText {
    color: blueviolet;
}

.textContainer {
    display: inline-block;
    margin: 20px 10px;

    border: 5px solid red;

    padding-left: 20px;
    padding-top: 50px;
}
