.navContainer {
  color: white;
  font-size: 0;
  font-family: sans-serif;
}

.navContainer > li {
  font-size: 16px;
  display: inline-block;
  background-color: rgb(91, 155, 91);
}

.navContainer a {
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid green;

  background-color: rgb(91, 155, 91);

  text-decoration: none;
  color: inherit;
}

.navContainer li:hover > a {
  background-color: green;
}

.subNavMenu {
  display: none;
  position: absolute;
  top: 36px;
  left: 0px;
  width: 100%;
}

.subNavContainer {
  position: relative;
}

.subNavContainer a {
  width: 100%;
}

.subNavContainer:hover > .subNavMenu {
  display: inline-block;
}
