.cardList {
  background-color: dodgerblue;
  /* min-height: 100vh; */
  padding: 80px;
}

.cardContainer {
  max-width: 400px;
  background-color: white;
  text-align: center;
  padding: 10px;
  position: relative;
}

.photoContainer {
  text-align: center;
  position: relative;
}

.photoContainer::before {
  content: "";
  position: absolute;
  display: block;
  background-color: dodgerblue;
  width: 105px;
  height: 105px;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -25%);
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.userPhoto {
  width: 100px;
  height: 100px;
  /* border-radius: 20%; */
  object-fit: cover;
  margin-top: -50px;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.cardHeader {
}

.infoContainer {
}

.mainInfo {
}

.geolocation {
}
.geolocation > img {
  width: 10px;
  height: 10px;
}

.interactions {
  position: relative;
}

.userContact {
}

.userCardButtons:before {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 100%;
  /* background-color: lightgray; */
  /* border: 1px solid lightgray; */
  height: 2px;
  /* border-top: 1px solid black; */
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 3px 3px 3px black;
  box-shadow: 0px -38px 33px -17px rgba(34, 60, 80, 0.2);
  z-index: 5;
}

.userCardButtons:after {
  content: "";
  display: block;
  position: absolute;
  top: -10px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  background-color: rgba(211, 211, 211, 0.281);
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  height: 1px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.userCardButtons {
  margin-top: 30px;
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.cardButton {
  background-color: green;
  border: 1px solid red;
}
.iconContainer {
  display: inline-block;

  background-color: dodgerblue;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.buttonIcon {
  width: inherit;
  height: inherit;
  object-fit: cover;
}

.followButton {
  color: white;
  background-color: dodgerblue;
  width: 100%;
  border: none;
  box-shadow: 0px 4px 0px 0.1px rgba(34, 60, 80, 0.9);
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px 20px;
}

.flexContainer {
  display: flex;
  border: 2px solid black;
  background-color: lightgray;
  justify-content: space-around;
}

#sec {
  flex-grow: 1;
}

#third {
  flex-grow: 4; /* 0 */

  flex-shrink: 0; /* 1 */
}

.child {
  border: 2px solid lime;
  width: 200px;
  height: 100px;
  background-color: black;
}
