* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 300vh;
}

.parent {
  background-color: dodgerblue;
  height: 50vh;

  width: 50%;
}

.child {
  cursor: pointer;
  background-color: darkred;
  height: 50%;
  width: 50%;

  font-size: 60px;
  text-align: center;
}

.block {
  padding: 20px;
  background-color: darkred;
  display: inline-block;
  color: white;
  border: 3px solid yellowgreen;
}

.p1 {
  padding: 50px;
  background-color: teal;

  position: relative;
}

.p2 {
  padding: 70px;
  background-color: thistle;

  position: relative;
}

.shift {
  /* Абсолютное позиционирование относительно 
  первого родителя со значением свойства
  position отличным от static */
  position: absolute;
  top: 10px;
  left: 10px;
}
