* {
  margin: 0;
  padding: 0;
}

.parent {
  background-color: dodgerblue;
  height: 50vh;

  width: 50%;
}

.child {
  cursor: pointer;
  background-color: darkred;
  height: 50%;
  width: 50%;

  font-size: 60px;
  text-align: center;
}
